#admin-page .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
#admin-page h1 {
font-size: 24px;
margin-top: 20px;
margin-bottom: 20px;
}

#admin-page table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

#admin-page th, td {
border: 1px solid #ddd;
padding: 10px;
text-align: left;
}

#admin-page th {
background-color: #f2f2f2;
}

#admin-page tr:hover {
background-color: #f5f5f5;
}

#admin-page input {
width: 100%;
padding: 8px;
box-sizing: border-box;
}
